aiohttp==3.11.10
basc_py4chan==0.6.6
nest_asyncio==1.5.6
nudenet==3.4.2
openai==0.28.0
Pillow==11.0.0
pyperclip==1.9.0
python-telegram-bot==21.9
Requests==2.32.3
tensorflow-cpu
aiogram==2.24
python-dotenv==1.0.0

